@media only screen and (min-width: 1001px) {

    .res-name {
        display: none;
    }

    .main-div {
        /* border: 2px solid red; */
        height: 420px;
        width: 80%;
        margin: auto;
        margin-bottom: 6%;
        font-size: 25px;
        font-family: system-ui;

        /* box-shadow: 1px 1px 5px 2px  grey;  */
        background-color: #e7e4e4ba;
    }

    .the-contact-us-head {
        color: #080451;
        font-size: 30px;
        line-height: 39px;
        margin: 5% 0% 0% 10%;
        font-family: 'Cabin', sans-serif;
        letter-spacing: 2px;
    }

    .main-div-a {
        margin-bottom: 2%;

    }

    .main-div-a a {
        text-decoration: none;
        color: black;
    }

    .main-div-a span {
        margin-left: 2%;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;

    }

    .main-div-a i {
        /* margin-left: 2%; */
        font-size: 20px;
    }

    /* .main-div-a:hover{
   color: red;
} */
    .main-div-a a:hover {
        color: #080451;
    }



    .material-icons {
        color: #2cc7ba;
    }

    .fa {
        color: #2cc7ba;
    }

    .name-mail-div {
        /* border: 2px solid red; */
        height: 25%;
        position: relative;
    }
    .name-mail-div-2 {
        /* border: 2px solid red; */
        height: 25%;
        position: relative;
    }

    .address {
        float: left;
        width: 100%;
        height: 25%;
        margin: auto;
        position: relative;
        /* border: 2px solid black; */
    }

    .icons-div {
        /* border: 2px solid red; */
        /* height: 48%; */
        width: 100%;
        /* margin: 2% 0% 0% 10%; */
        /* position: relative; */
        float: left;
        width: 100%;
        height: 25%;
        margin: auto;
        position: relative;

    }

    .name-div {
        float: left;
        width: 35%;
        position: inherit;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: 10%;
    }

    .name-div span {
        font-family: 'Cabin', sans-serif;
        font-size: 22px;
        line-height: 26px;
        /* letter-spacing: 2px; */
        font-weight: 700;
        color: #080451;
        color: black;
    }

    #cofounder {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        margin-top: 2%;

    }

    .mail-phone-div {

        float: right;
        width: 55%;
        /* margin: 5% 0% 0% 0%; */
        font-size: 18px;
        position: inherit;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        /* margin-left: 10%; */
    }



    #full-address {
        width: 55%;
        float: right;
        position: inherit;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        /* margin-left: 10%; */
    }

    #address-name {
        float: left;
        width: 35%;
        margin: 5% 0% 0% 10%;
        font-size: 20px;
        line-height: 21px;
        color: #080451;

    }

    .add-div-ad {
        width: 80%;
    }

    #address-name p {
        /* margin-bottom: 2%; */
        margin: 0;
        width: 90%;
        font-family: 'Cabin', sans-serif;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2px;
        font-weight: 700;
    }



    #full-address a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;


        color: black;
        font-size: 17px;
        line-height: 25px;

        width: 33%;

    }





    .icons-div i {
        /* width: 20%; */
        margin: 0% 5% 0% 5%;


    }

    .links-icons-div {
        /* border: 2px solid blue; */
        /* height: 60%; */
        width: 35%;

        float: left;
        position: inherit;
        top: 35%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: 10%;
        /* margin-top: 3%; */
    }

    .qr-div {
        /* border: 2px solid red; */
        /* height: 95%; */
        width: 55%;
        /* margin: 0% 0% 0% 10%; */
        /* position: relative; */
        float: right;
        position: inherit;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        /* margin-left: 10%; */
    }

    .qr-vcreate {
        width: 30%;
        /* margin-left: 70%; */
    }

    .qr-vcreate img {
        width: 126px;
    }

    .VCS-div {
        font-family: 'Cabin', sans-serif;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 2px;
        font-weight: 700;
        color: #080451;
    }


    .center-icons {
        /* border: 2px solid red; */
        float: left;
        /* margin: 5% 0% 0% 0%; */
        /* position: absolute;
        top: 50%;
        margin-left: 44%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
        /* float: left; */
        width: 56%;
        float: right;
        position: inherit;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

    }

    #social-link {
        /* float: left; */

        font-size: 23px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        /* margin-top: 2%; */
        width: 35%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-left: 0;


    }

    .link-icon-cent {
        width: 80%;
        margin: auto;
        height: 100%;
        position: relative;
    }

    .center-icons a {
        text-decoration: none;
        float: left;
        width: 10%;
    }



    .download i:hover {
        color: red;
    }




    /* ----------------- */

}